---
layout: page 
title: page.title
---

<div class="post">

  <!--<header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Released on {{ page.date | date: "%A" }} {{ page.date | date: site.dateformat }}</p> <br>
    <p class="post-meta">{{ page.summary }}</p> <br>
  </header>-->

  <h2>Lecture</h2>

  <article class="post-content">
    {{ content }}




    <br>
    CONTENT
  </article>

  <div>
    {% if page.text %}
    <p> {{ page.text }} </p>
    {% endif %}

  </div>

  <br />
  

</div>